body {
  background-color: #F2CDAC;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: #8C3503;
  text-decoration: none;
}

h2, h3, h4, strong{
  color: #772953;
  padding-top: 0.5rem;;
  padding-bottom: 0.5rem;;
}

a:link {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 90vh;
}

.product-card{
  background-color: bisque;
}

.star{
  color: #F2AB6D;
}

.btn-custom{
  background-color: #772953;
  color: aliceblue;
}

.test{
  background-color: rgb(255, 245, 238);
}
